/* index */
#head{
    padding: 1px;
    text-align: center;
    background-color: #FFEB3B;
    margin: auto;
    font-size: x-large; 
    font-family:'Jost', sans-serif;
    width: 80%;
    border-radius:50%;
}
#image, .left, .foo{
    text-align: center;
}
#paras{
    margin-left:20%;
    margin-right: 20%;
    text-align: justify;
    font-family: 'Indie Flower', cursive;
    font-size: large;    
}

/* page2 */
@media only screen and (min-width:992px){
#cont{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    padding: 15px;
}
#p1{
    font-family: 'Indie Flower', cursive;
    font-size: large;
}
.foo{
    grid-area: 4/2/4/2;
}
#vid{
    text-align: center;
    grid-area: 3/2/3/2;
}
#h1{
    grid-area: 1/1/1/ span 3;
    text-align: center;
    font-family:'Jost', sans-serif;
    background-color: rgb(80, 233, 75);
    border-radius: 15px;
}

/* page3 */
#h2{
    text-align: center;
    font-family:'Jost', sans-serif;
    background-color: rgb(247, 147, 81);
    border-radius: 15px;
    
}
.box{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.flex_box{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    }
.flex_box div {
    margin: 12px;
    padding: 0px;
    border: 1px solid black;
  }
  #id1{
      text-align: center;
  }
  .foo{
      padding: 10px;
      margin: 10px;
      font-family: 'Indie Flower', cursive;
  }
}

@media only screen and (max-width:600px){
  #count{
    display: flex;
    flex-direction: column;
  }
  #h1,#h2{
    font-family:'Jost', sans-serif;
    background-color: rgb(80, 233, 75);
    border-radius:20px;
    padding:5px;
  }
  .flex_box  div{
    border: 1px solid black;
  }
  #h1, .image, .foo, #vid, #img1, #sound,#h2, .flex_box{
    flex-direction:column;
    text-align:center !important;
    margin: 15px;
  }
  #p1, #sound, .foo{
    flex-direction:column;
    text-align:justify;
    margin:10px;
    font-family: 'Indie Flower', cursive;
    font-size: large;
  }
}
    